{% extends 'main/base.html' %}

{% block title %}Про нас{% endblock title %}

{% block main_block %}
  <div class="form-section">
    <h2>Сокращаем ссылки вместе!</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, nulla. Iure, distinctio aspernatur. Ut obcaecati ipsam in voluptate corporis quod?</p>
    <!-- <a href="{% url 'home' %}"><button type="submit">На главную</button></a> -->
  </div>
  <div class="form-section img-frame">
    <img src="/pictures/cut.png" alt="cut.png">
  </div>
  
{% endblock main_block %}