{% extends 'main/base.html' %}

{% block title %}Главная страница{% endblock title %}

{% block main_block %}
<div class="form-section">
  <h2>Главная страница</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, nulla. Iure, distinctio aspernatur. Ut obcaecati ipsam in voluptate corporis quod?</p>
  <br><hr><br>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, nulla. Iure, distinctio aspernatur</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, null</p>
</div>
{% endblock main_block %}